body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin-top: 100px; 
}

h1 {
    color: #333;
    margin-bottom: 20px; 
}

input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px; 
}

button:hover {
    background-color: #0056b3;
}

.response {
    margin-top: 30px; 
    font-size: 18px;
    font-weight: bold;
}

#hintBox {
    margin-top: 20px; 
    font-size: 16px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.hidden-button {
    background-color: #f4f4f4; 
    color: #f4f4f4; 
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#hint1, #hint2, #hint3 {
    display: none; 
    margin-top: 20px;
    font-size: 16px;
    color: #f4f4f4;
    background-color: #f4f4f4;
    padding: 10px;
}

.show-hint {
    display: block; 
    margin-top: 400px; 
}